:root{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0px;
  padding:0px;
}
body{
  margin: 0px;
  padding: 0px;
  display: block;
  background-color: #ddd;
  font-size:1.1em;
  font-family: Helvetica;
}
header{
  list-style: none;
  display:flex;
  flex-direction:row;
  width:100%;
  height: 50px;
  background-color:#17a268;
  box-shadow: 0 3px 30px 3px #777;
  color: #eee;
  padding: 3px;
}
.nav-bar{
  display: flex;
  flex-direction:row;
  margin: auto;
  max-width: 1200px;
  background-color:inherit;
}
.nav-bar ul{
  margin: auto;
  display: flex;
  flex-direction: row;
  border-right: 1px solid #eee;
  height: 30px;
  padding: 5px;
  flex: auto;
}
.nav-bar span{
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-left:5px;
  margin-right: 5px;
  flex: auto;
}
.nav-list{
  display: flex;
  flex-direction: row;
  margin: auto;
  height:40px;
  margin-left:5px;
  margin-right: 5px;
}
.nav-list-button{
  display: flex;
  border:1px solid #eee;
  border-radius: 2px;
  font-size: 1.1em;
  background-color:inherit;
  color: inherit;
  margin: auto;
  margin-left:5px;
  margin-right: 5px;
}
.nav-list-button:hover{
  border:1px solid #eee;
  background-color:#eee;
  color:#17a268;
}
.menu-mobile{
  float: right;
  display: none;
}
@media screen and (max-width:768px) {
  .nav-bar ul{
    display: none;
    position: absolute;
    top:0px;
    right:0px;
    flex-direction:column;
    border:none;
    background-color: #eee;
    height: 100%;
    color: #17a268;
  }
  .menu-mobile{
    display: block;
  }
}
